<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Desafio 24 do #BoraCodar: Desenvolvendo um ajustes de iluminação com HTML/CSS e JavaScript"
    />
    <meta name="author" content="Marcel Kaled" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap"
      rel="stylesheet"
    />

    <link rel="shortcut icon" type="image/svg" href="../assets/favicon/favicon.svg" />
    <title>Ajustes de iluminação</title>

    <link rel="stylesheet" href="style.css" />

    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script defer src="./script.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body class="flex ai-c">
    <main class="flex ai-c">
      <div class="preview flex"></div>

      <span>Ajustes de Iluminação</span>

      <div class="controls flex ai-c">
        <div class="hue flex ai-c">
          <i class="ph-thin ph-palette"></i>
          <div class="flex ai-c">
            <input type="range" id="hue-slider" min="0" max="360" step="1" value="0" />
          </div>
        </div>

        <div class="brightness flex ai-c">
          <i class="ph-thin ph-sun"></i>
          <div class="flex ai-c">
            <input type="range" id="brightness-slider" min="0" max="100" step="1" value="100" />
          </div>
        </div>

        <div class="contrast flex ai-c">
          <i class="ph-thin ph-circle-half"></i>
          <div class="flex ai-c">
            <input type="range" id="contrast-slider" min="0" max="100" step="1" value="100" />
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
