<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="../assets/favicon/favicon.svg" />
    <title>Componente de Upload</title>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main>
      <div id="app-container">
        <div
          id="upload-box"
          click="selectFile"
          ondragover="handleDragOver(event)"
          ondrop="handleFileSelect(event)"
        >
          <input type="file" id="file-input" click="selectFile()" style="display: none" />
          <img
            src="../assets/cloud.svg"
            alt="Ícone representano uma núvem roxa com uma seta para cima,no meio"
          />

          <p class="p-header-upload-box"><strong>Importe seus arquivos </strong></p>
          <p class="p-upload-box">Arraste ou clique para fazer upload</p>
        </div>

        <div id="file-box">
          <div id="file-icon-box" b-color="purple">
            <img
              src="../assets/doc-purple.svg"
              alt="Icone de uma folha com uma dobra na parte superior a direita, representando um arquivo"
            />
          </div>
          <div class="data-file-box">
            <p class="p-name-data-file-box">Scan_158.pdf</p>
            <p class="p-size-data-file-box">30 MB / 74 MB</p>
            <div class="file-progress-bar"></div>
          </div>
          <div class="icon-status-box">
            <button>
              <img src="../assets/cancel.svg" alt="" />
            </button>
            <p class="p-status-upload">46%</p>
          </div>
        </div>

        <div id="file-box">
          <div id="file-icon-box" b-color="green">
            <img
              src="../assets/doc-green.svg"
              alt="Icone de uma folha com uma dobra na parte superior a direita, representando um arquivo"
            />
          </div>
          <div class="data-file-box">
            <p class="p-name-data-file-box">README.md</p>
            <p class="p-size-data-file-box">12 KB</p>
            <div class="file-progress-bar"></div>
          </div>
          <div class="icon-status-box">
            <button></button>
            <p class="p-status-upload" t-color="green">100%</p>
          </div>
        </div>

        <div id="file-box">
          <div id="file-icon-box" b-color="red">
            <img
              src="../assets/doc-red.svg"
              alt="Icone de uma folha com uma dobra na parte superior a direita, representando um arquivo"
            />
          </div>
          <div class="data-file-box">
            <p class="p-name-data-file-box">picture_1.jpg</p>
            <p class="p-size-data-file-box">5.1 MB</p>
            <div class="file-progress-bar"></div>
          </div>
          <div class="icon-status-box">
            <button>
              <img src="../assets/reload.svg" alt="" />
            </button>
            <p class="p-status-upload" t-color="red">erro</p>
          </div>
        </div>

        <div id="new-file-box" >
          <div id="file-icon-box" b-color="purple">
            <img
              id="icon"
              src="../assets/doc-purple.svg"
              alt="Icone de uma folha com uma dobra na parte superior a direita, representando um arquivo"
            />
          </div>
          <div class="data-file-box">
            <p id="file-name"></p>
            <p id="upload-size"></p>
            <div class="progress"></div>
          </div>
          <div class="icon-status-box">
            <button>
              <img src="../assets/reload.svg" alt="" />
            </button>
            <p id="upload-percentage"></p>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script src="./utils/upload.js"></script>
</html>
