{
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 120,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "crlf",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleAttributePerLine": false
}
