<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Desafio 29 do #BoraCodar: Desenvolvendo uma página de Image AI Upscaler"
    />
    <meta name="author" content="Marcel Kaled" />

    <link rel="shortcut icon" type="image/svg" href="../assets/favicon/favicon.svg" />
    <title>Image AI Upscaler</title>

    <link rel="stylesheet" href="style.css" />

    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script defer src="./script.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div class="container">
      <div class="image-container">
        <div class="overlay">
          <img src="../assets/images/original-image.png" alt="Imagem Antes" />
        </div>
        <div class="divider">
          <div class="circle">
            <i class="ph-fill ph-caret-left"></i>
            <i class="ph-fill ph-caret-right"></i>
          </div>
        </div>
        <img src="../assets/images/upscaled-image.png" alt="Imagem Depois" />
      </div>
    </div>
  </body>
</html>
