/* ==== GLOBAL STYLES ==== */

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* Brand */
  --brand-color: #9333ea;
  --brand-color-light: #a855f7;
  --brand-color-lither: #c084fc;

  /* Neutrals */
  --text-color-primary: #f9fafb;
  --text-color-secundary: #e4e4e7;
  --close-button-color: #a1a1aa;
  --stroke-color: #3f3f46;
  --surface-color: #18181b;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, sans-serif;
  display: grid;
  grid-template-areas: 'site-area car-products';
  grid-template-columns: 0.777fr 0.223fr;
  /* grid-template-rows: 100vh; */
  cursor: default;
}

p {
  color: var(--text-color-secundary);
  line-height: 2.4rem;
  font-weight: 500;
}

b {
  font-wheight: 700;
}

i {
  cursor: pointer;
}

button {
  width: 32.4rem;
  height: 6.4rem;
  background-color: var(--brand-color);
  margin-top: 1.6rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
}

button:hover {
  background-color: var(--brand-color-light);
}

.flex {
  display: flex;
}

.flex-start {
  display: flex-start;
}

.col {
  flex-flow: column;
}

.row {
  flex-flow: row;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.site-area {
  grid-area: site-area;
  background-color: #09090b;
}

.car-products {
  grid-area: car-products;
  background-color: var(--surface-color);
}

/* ==== HEADER STYLES ==== */

.header-cont {
  padding: 2.4rem 2.4rem 2.4rem 3.2rem;
  border-bottom: 0.1rem solid var(--stroke-color);
}

.header-cont > p {
  color: var(--text-color-secundary);
  font-weight: 400;
  font-size: 1.6rem;
}

/* ==== PRODUCTS STYLES ==== */

.products-cont {
  margin-bottom: 1rem;
}

.item-cont {
  padding: 3.2rem 2.4rem;
  gap: 2.4rem;
}

.item-cont > img {
  width: 10.4rem;
  height: 10.4rem;
  border-radius: 0.8rem;
}

.item-description {
  height: 4.8rem;
  width: 21.44rem;
}

.item-description > p {
  font-size: 1.6rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-item-cont {
  height: 10.4rem;
  gap: 1.52rem;
}

.price-icons-cont > p {
  font-size: 1.6rem;
}

.icon-cont {
  width: 3.6rem;
  height: 3.6rem;
  background-color: transparent;
  border: 0.1rem solid var(--stroke-color);
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
}

.icon-cont:hover {
  background-color: var(--brand-color);
  border-color: var(--brand-color-light);
}

.icon-cont:last-of-type {
  border: 0.1rem solid var(--brand-color-light);
  transition: border 300ms ease-in-out;
}

.item-qtd-cont {
  width: 3.6rem;
  height: 3.6rem;
}

.item-qtd-cont span > p  {
  font-size: 1.4rem;
}

/* ==== CHECKOUT STYLES ==== */

.checkout-cont {
  width: inherit;
  height: 16rem;
  padding: 3.2rem;
  gap: 1.6rem;
  border-top: 0.1rem solid var(--stroke-color);
}

.total-cont > p {
  font-size: 2rem;
}

.tag-cont {
  justify-content: flex-end;
  gap: 0.8rem;
}

.tag-cont > p {
  font-size: 1.6rem;
  color: var(--brand-color-light);
  transition: color 300ms ease-in-out;
}

.tag-cont > p:hover {
  color: var(--brand-color-lither);
}

.button > p {
  color: var(--text-color-primary);
  font-size: 1.8rem;
}

/* ==== ICON STYLES ==== */

.ph-x {
  font-size: 2.4rem;
  color: var(--text-color-primary);
  transition: color 300ms ease-in-out;
  transform: trasform 1s ease-in;
}

.ph-x:hover {
  color: var(--text-color-secundary);
}

.ph-x:active {
  transform: scale(1.2);
}

.ph-minus,
.ph-plus {
  font-size: 1.6rem;
  color: var(--brand-color-light);
  transition: color 300ms ease-in-out;
  transform: trasform 1s ease-in;
}

.ph-minus:hover,
.ph-plus:hover {
  color: var(--text-color-primary);
}

.ph-minus:active,
.ph-plus:active {
  transform: scale(1.2);
}

.ph-tag {
  font-size: 2.4rem;
  color: var(--brand-color-light);
  transition: color 300ms ease-in-out;
}

.ph-tag:hover {
  color: var(--brand-color-lither);
}

.ph-spinner {
  visibility: hidden;
  display: none;
  animation: spin 1.5s linear;
  font-size: 2.4rem;
  color: var(--text-color-primary);
  z-index: 2;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*  ==== DIMENSIONS STYLES ==== */

@media (max-width: 428px) {
  body {
    grid-template-columns: 0fr 1fr;
    grid-template-areas: 'site-area car-products';
  }
}
