<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" type="image/svg" href="../assets/favicon/favicon.svg" />
    <title>Personagens Star Wars</title>

    <link rel="stylesheet" href="style.css" />

    <script src="script.js" defer></script>
  </head>
  <body>
    <main>
      <section class="card-wrapper">
        <h1>Hey Skywalker</h1>
        <p class="introduction">
          Era uma catadora de sucata que descobriu ser sensível à Força durante sua busca ao
          lendário Mestre Jedi Luke Skywalker.
        </p>
        <p class="heading-itens">Filmes</p>
        <p class="description">
          The Force Awakens, The Last Jedi, The Rise of Skywalker & Forces of Destiny
        </p>
        <p class="heading-itens">Espécie</p>
        <p class="description">Humana</p>
        <p class="heading-itens">Altura</p>
        <p class="description">1,7m</p>
        <p class="heading-itens">Localidade</p>
        <p class="description">Jakku</p>
        <p class="heading-itens">Armas</p>
        <p class="description">Sabre de luz, Blaster, Quarterstaff</p>
        <img src="../assets/personas/rey.png" alt="" />
      </section>
    </main>
  </body>
</html>
