/*  ==== START GLOBAL STYLES ==== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%; /* resetar a fonte para 10px (= 1rem) */
  font-family: Source Sans Pro, sans-serif;

  --color-background: #07021a;
  --color-card-primary: #121214;
  --color-font-heading: #ece4ef;
  --color-font-heading-itens: #9c83a7;
  --color-font-text: #d8cede;
}

/*  ==== END GLOBAL STYLES ==== */

body {
  background-color: var(--color-background);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 130%;
  text-align: start;
  font-style: normal;
}

h1 {
  color: var(--color-font-heading);
  font-size: 3.2rem;
  line-height: 4rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

p {
  color: var(--color-font-text);
  max-width: 20rem;
}

.introduction {
  font-weight: 400;
  max-width: 26rem;
  max-height: 7rem;
  margin-bottom: 4.8rem;
}

.heading-itens {
  color: var(--color-font-heading-itens);
  font-weight: 400;
  margin-bottom: 0.2rem;
}

.description {
  margin-bottom: 1.6rem;
}

.card-wrapper {
  position: absolute;
  overflow: hidden;
  left: calc(50% - 43.6rem / 2);
  top: calc(50% - 60.8rem / 2);
  width: 43.6rem;
  height: 60.8rem;
  padding: 4rem 3.8rem;
  border-radius: 2rem;
  background: url(../assets/bg_images/bg_card_rey.png);
  box-shadow: 0px 294px 118px rgba(0, 0, 0, 0.03), 0px 165px 99px rgba(0, 0, 0, 0.1);
}

img {
  position: absolute;
  top: 10%;
  left: 25%;
}
