<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Desafio 27 do #BoraCodar: Desenvolvendo uma página de endereço não encontrado 404"
    />
    <meta name="author" content="Marcel Kaled" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&display=swap" rel="stylesheet" />

    <link rel="shortcut icon" type="image/svg" href="../assets/favicon/favicon.svg" />
    <title>Página de erro 404</title>

    <link rel="stylesheet" href="style.css" />

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </head>
  <body>
    <div id="app">
      <main>
        <h1>Ops, esta página não foi encontrada</h1>
        <p>Parece que você se perdeu... Tente voltar para a página anterior ou acessar a home.</p>

        <div class="button-wrapper flex ai-c">
          <a href="#" class="btn flex ai-c">Voltar</a>
          <a href="#" class="btn flex ai-c">Ir para Home</a>
        </div>
      </main>
      <aside class="flex ai-c">
        <lottie-player
          src="https://lottie.host/77fafc00-d8f6-4477-9777-cebae6cc2296/Uyb8u8njI7.json"
          background="transparent"
          speed="0.3"
          style="width: 225px; height: 225px"
          autoplay
        ></lottie-player>

        <lottie-player
          src="https://lottie.host/ab7a5c4d-d0de-4877-be5e-8cffedab2bf1/f7kJBYBWYz.json"
          background="transparent"
          speed="1"
          style="width: 300px; height: 300px"
          loop
          autoplay
        ></lottie-player>

        <lottie-player
          src="https://lottie.host/77fafc00-d8f6-4477-9777-cebae6cc2296/Uyb8u8njI7.json"
          background="transparent"
          speed="0.3"
          style="width: 225px; height: 225px"
          autoplay
        ></lottie-player>
      </aside>
    </div>
  </body>
</html>
