* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.6rem;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --gray-50: #f8fafc;
  --gray-100: #f1f5f9;
  --gray-200: #e2e8f0;
  --gray-300: #cbd5e1;
  --gray-400: #94a3b8;
  --gray-500: #64748b;
  --gray-600: #475569;
  --gray-700: #334155;
  --gray-800: #1e293b;
  --gray-900: #0f172a;
  --green-100: #04d361;
  --green-200: #1b873f;
  --purple-100: #996dff;
  --purple-200: #7c3aed;
  --orange: #fba94c;

  font-size: 62.5%;
}

body {
  background-color: var(--gray-50);
}

button {
  cursor: pointer;
  margin-top: 1rem;
  width: 32rem;
  height: 5.6rem;
  padding: 1.6rem 2.4 rem;
  background-color: white;
  border: 0.1rem solid var(--gray-800);
  border-radius: 0.4rem;
  font-weight: 700;
  transition: background-color 0.3s ease-in, transform 0.3s ease-in-out;
}

button:hover {
  background-color: var(--gray-800);
  color: white;

}

hr {
  width: 32rem;
  border: 0.1rem solid var(--gray-200);
  margin: 2.4rem 0;
}

.btn-dark-theme {
  background-color: var(--purple-100);
   border: 0.1rem solid var(--gray-400);
  color: white;
  transition: background-color 0.3s ease-in, transform 0.3s ease-in-out;
}

.btn-dark-theme:hover {
  background-color: var(--purple-200);
}

button:active {
  transform: translateY(-0.3rem);
}

.hr-dark-theme {
  border: 0.1rem solid var(--gray-700);
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 3.2rem;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.5rem;
  width: 38.4rem;
  height: 45.4rem;
  background-color: white;
  border: 0.2rem solid var(--gray-200);
  text-align: center;
  border-radius: 1rem;
  padding: 4rem 3.2rem 3.2rem;
  transition: border-color 0.4s ease-in-out;
}

.card:hover {
  border: 0.2rem solid var(--purple-100);
  animation: shadow-pulse 2s infinite;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 1rem 0 rgb(153 109 255 / 60%);
  }

  50% {
    box-shadow: 1.5rem 1.5rem 1.5rem 0 rgb(153 109 255 / 60%);
  }

  100% {
    box-shadow: 0 0 1rem 0 rgb(153 109 255 / 60%);
  }
}

#dark-theme {
  background-color: var(--gray-800);
  color: var(--gray-50);
  transition: border-color 0.3s ease-in-out;
}

#dark-theme:hover {
  border: 0.2rem solid var(--purple-200);
  animation: shadow-pulse-dark 2s infinite;
}

@keyframes shadow-pulse-dark {
  0% {
    box-shadow: 0 0 1rem 0 rgb(124 58 237 / 60%);
  }

  50% {
    box-shadow: 1.5rem 1.5rem 1.5rem 0 rgb(124 58 237 / 60%);
  }

  100% {
    box-shadow: 0 0 1rem 0 rgb(124 58 237 / 60%);
  }
}

.box {
  position: absolute;
  align-self: center;
  padding: 0.8rem 1.6rem;
  width: 13.3rem;
  height: 3.4rem;
  top: -1.9rem;
  background: var(--orange);
  border-radius: 0.6rem;
  transition: transform 0.2s ease;
}

.box:hover {
  transform: translateY(-0.3rem);
}

.box p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--gray-900);
}

.text-header {
  display: flex;
  flex-direction: initial;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--purple-100);
}

.product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  margin-top: 0.8rem;
}

.name-product {
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
}

.price {
  font-weight: 700;
  font-size: 2.4rem;
}

#currency-price {
  font-weight: 400;
  margin-right: 0.4rem;
}

#period-price {
  font-weight: 700;
  font-size: 1.8rem;
}

.description-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
  float: left;
}

.check-text {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.text-description {
  text-align: left;
  font-weight: 400;
  color: var(--gray-400);
}

#text-dark-theme {
  color: var(--gray-200);
}

.icon-info {
  position: relative;
  cursor: pointer;
}

.dialog-box {
  display: none;
  position: absolute;
  white-space: nowrap; 
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  overflow-x: auto;
  padding: 0.8rem 1.6rem;
  background-color: var(--gray-50);
  border: 0.1rem solid var(--purple-100);
  border-radius: 0.6rem;
  z-index: 2;
}

.dialog-box p {
  text-align: left;
  font-weight: 300;
  color: var(--gray-600);
  font-size: 1.2rem;
  width: 0;
  overflow: hidden;
  vertical-align: bottom;
  animation: typing 2s steps(30, end) forwards;
}

.icon-info:hover + .dialog-box {
  display: inline-block;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@media (width < 670px) {
  .card-container {
    display: flex;
    flex-direction: column;
    max-width: 27rem;
    margin: auto;
    height: auto;
    padding-block: 6rem;
  }
}
