<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Desafio 28 do #BoraCodar: Desenvolvendo uma plataforma IA de chat/texto"
    />
    <meta name="author" content="Marcel Kaled" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,700&display=swap"
      rel="stylesheet"
    />

    <link rel="shortcut icon" type="image/svg" href="../assets/favicon/favicon.svg" />
    <title>Plataforma de IA</title>

    <link rel="stylesheet" href="style.css" />

    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>
  <body class="flex ai-c jc-c">
    <main class="flex ai-c jc-c">
      <header class="flex ai-c">
        <div class="icon-cont">
          <i class="ph-light ph-magic-wand"></i>
        </div>
        <h1>Experimente o poder da Inteligência Artificial</h1>
      </header>
      <section class="ia-tools flex ai-c jc-c">
        <div class="tool flex ai-c">
          <div class="icon-cont">
            <i class="ph-light ph-code"></i>
          </div>
          <p>Gerador de códigos</p>
          <i class="ph-light ph-arrow-right"></i>
        </div>
        <div class="tool flex ai-c">
          <div class="icon-cont">
            <i class="ph-light ph-image-square"></i>
          </div>
          <p>Edição de foto</p>
          <i class="ph-light ph-arrow-right"></i>
        </div>
        <div class="tool flex ai-c">
          <div class="icon-cont">
            <i class="ph-light ph-play-circle"></i>
          </div>
          <p>Geração de videos</p>
          <i class="ph-light ph-arrow-right"></i>
        </div>
        <div class="tool flex ai-c">
          <div class="icon-cont">
            <i class="ph-light ph-music-notes"></i>
          </div>
          <p>Criador de áudios e músicas</p>
          <i class="ph-light ph-arrow-right"></i>
        </div>
      </section>
      <hr />
      <section class="prompt flex ai-c">
        <div class="input-wrapper flex ai-c">
          <i class="ph-light ph-plus-circle"></i>
          <input
            type="text"
            placeholder="Envie um mensagem ou digite '/' para exibir os comandos"
            autocomplete="none"
          />
        </div>
        <button class="icon-cont">
          <i class="ph-light ph-paper-plane-right"></i>
        </button>
      </section>
    </main>
  </body>
</html>
