<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" type="image/svg" href="../assets/favicon/fav-icon.svg" />
    <title>Página de Contato</title>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <header>
        <div class="header-cont">
          <div class="header">
            <h2>Meus Contatos</h2>
            <div class="icons-cont">
              <button class="btn-icon add">
                <img src="../assets/icons/add.svg" alt="" />
              </button>
              <button class="btn-icon edit">
                <img src="../assets/icons/edit.svg" alt="" />
              </button>
              <button class="btn-icon trash">
                <img src="../assets/icons/trash.svg" alt="" />
              </button>
            </div>
          </div>
          <div class="search-form">
            <button class="btn-icon search">
              <img src="../assets/icons/search.svg" alt="" />
            </button>
            <input
              type="text"
              id="search-input"
              placeholder="Busque por nome ou por dados de contato..."
            />
          </div>
        </div>
      </header>
      <main>
        <div class="contacts-cont">
          <div class="grid">
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">A</h3>
              </div>
              <div class="contacts-list">
                <div class="info">
                  <div class="avatar-cont">
                    <img
                      class="avatar"
                      id="avatar"
                      src="../assets/avatars/2fad6427-0ec4-453e-9a11-b9ea69fc18d8.webp"
                      alt="Avatar do contato"
                    />
                  </div>
                  <div class="contact">
                    <h3 class="name">Abraão Sena</h3>
                    <h4 class="number">(11) 90876-1234</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">B</h3>
              </div>
              <div class="contacts-list">
                <div class="info">
                  <div class="avatar-cont">
                    <img
                      class="avatar"
                      id="avatar"
                      src="../assets/avatars/3c3b1c7e-cb3e-46a7-a457-92136fa5ee2f.webp"
                      alt="Avatar do contato"
                    />
                  </div>
                  <div class="contact">
                    <h3 class="name">Beatriz Clasen</h3>
                    <h4 class="number">(48) 90876-1123</h4>
                  </div>
                </div>
                <div class="info">
                  <div class="avatar-cont">
                    <img
                      class="avatar"
                      id="avatar"
                      src="../assets/avatars/3e6a73b5-85c4-4604-96d6-031a0705789a.webp"
                      alt="Avatar do contato"
                    />
                  </div>
                  <div class="contact">
                    <h3 class="name">Brenda Mendes</h3>
                    <h4 class="number">(21) 90876-8765</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">C</h3>
              </div>
              <div class="contacts-list">
                <div class="info">
                  <div class="avatar-cont">
                    <img
                      class="avatar"
                      id="avatar"
                      src="../assets/avatars/094722cb-53c9-49d4-b012-9cb438042ed2.webp"
                      alt="Avatar do contato"
                    />
                  </div>
                  <div class="contact">
                    <h3 class="name">Caio Vinícius</h3>
                    <h4 class="number">(71) 90876-2435</h4>
                  </div>
                </div>
                <div class="info">
                  <div class="avatar-cont">
                    <img
                      class="avatar"
                      id="avatar"
                      src="../assets/avatars/b5d2e436-30b5-43b8-802c-a9d9173a2a51.webp"
                      alt="Avatar do contato"
                    />
                  </div>
                  <div class="contact">
                    <h3 class="name">Cleiton Souza</h3>
                    <h4 class="number">(11) 90876-1209</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">D</h3>
              </div>
              <div class="contacts-list">
                <div class="info">
                  <div class="avatar-cont">
                    <img
                      class="avatar"
                      id="avatar"
                      src="../assets/avatars/c052ff76-edfb-4838-b80d-32783286c29e.webp"
                      alt="Avatar do contato"
                    />
                  </div>
                  <div class="contact">
                    <h3 class="name">Daniel Duarte</h3>
                    <h4 class="number">(11) 90876-1234</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">E</h3>
              </div>
              <div class="contacts-list">
                <div class="info">
                  <div class="avatar-cont">
                    <img
                      class="avatar"
                      id="avatar"
                      src="../assets/avatars/e33ba2eb-1ff7-4f62-b77c-25b9424b7652.webp"
                      alt="Avatar do contato"
                    />
                  </div>
                  <div class="contact">
                    <h3 class="name">Elias Gabriel</h3>
                    <h4 class="number">(11) 90876-1234</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">F</h3>
              </div>
              <div class="contacts-list">
                <div class="info">
                  <div class="avatar-cont">
                    <img
                      class="avatar"
                      id="avatar"
                      src="../assets/avatars/f1763b75-3968-417a-93ff-f192bbd757d5.webp"
                      alt="Avatar do contato"
                    />
                  </div>
                  <div class="contact">
                    <h3 class="name">Fábio Silva</h3>
                    <h4 class="number">(11) 90779-9876</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">G</h3>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">H</h3>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">I</h3>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">J</h3>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">K</h3>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">L</h3>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">M</h3>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">N</h3>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">O</h3>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">P</h3>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">Q</h3>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">R</h3>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">S</h3>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">T</h3>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">U</h3>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">V</h3>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">W</h3>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">X</h3>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">Y</h3>
              </div>
            </div>
            <div class="contacts-group">
              <div class="letter-cont">
                <h3 class="alphabet">Z</h3>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
  <script src="./utils/select-random-letter-colors.js" ></script>
</html>
