* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #807ece 0%, #8e7ece 100%);
  display: grid;
  place-content: center;
}

body * {
  font-family: Rubik, sans-serif;
  letter-spacing: -0.02em;
}

#calculator {
  background: #2d2a37;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%), 0 188px 52px rgb(0 0 0 / 1%),
    0 120px 48px rgb(0 0 0 / 4%), 0 68px 41px rgb(0 0 0 / 15%),
    0 30px 30px rgb(0 0 0 / 26%), 0 8px 17px rgb(0 0 0 / 29%),
    inset 0 6px 8px rgb(255 255 255 / 10%), inset 0 -4px 5px rgb(0 0 0 / 22%);
  border-radius: 48px;
}

#display {
  margin-top: 54px;
  padding-inline: 54px;
}

#last-calc {
  text-align: right;
  font-size: 20px;
  line-height: 140%;
  color: #6b6b6b;
}

#result {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

#result span {
  font-size: 36px;
  line-height: 140%;
  color: #ebebeb;
}

#keyboard {
  padding: 26px 32px 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

button {
  border: 0;
  width: 64px;
  height: 64px;
  background: linear-gradient(180deg, rgb(0 0 0 / 5%) 0%, rgb(255 255 255 / 5%) 100%),
    #2d2a37;
  box-shadow: 0 11px 7px rgb(0 0 0 / 1%), 0 7px 7px rgb(0 0 0 / 4%),
    0 4px 6px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 26%), 0 0 2px rgb(0 0 0 / 29%),
    inset 0 2px 3px rgb(255 255 255 / 6%);
  border-radius: 999px;
  font-size: 24px;
  line-height: 28px;
  color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary {
  color: #975dfa;
}

.tertiary {
  background: linear-gradient(180deg, rgb(0 0 0 / 5%) 0.01%, rgb(255 255 255 / 5%) 100%),
    #462878;
  box-shadow: 0 11px 7px rgb(0 0 0 / 1%), 0 7px 7px rgb(0 0 0 / 4%),
    0 4px 6px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 26%), 0 0 2px rgb(0 0 0 / 29%),
    inset 0 2px 3px rgb(255 255 255 / 10%);
}

.quartiary {
  background: linear-gradient(180deg, rgb(0 0 0 / 15%) 0%, rgb(255 255 255 / 5%) 100%),
    #7f45e2;
  box-shadow: 0 11px 7px rgb(0 0 0 / 1%), 0 7px 7px rgb(0 0 0 / 4%),
    0 4px 6px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 26%), 0 0 2px rgb(0 0 0 / 29%),
    inset 0 2px 3px rgb(255 255 255 / 10%);
}
