/*  ==== START GLOBAL STYLES ==== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%; /* resetar a fonte para 10px (= 1rem) */
  font-family: Lato, sans-serif;

  --color-background: #f5f5f5;
  --color-card-primary: #fff;
  --color-item-on-hover: #ece0fd;
  --color-item-highlight: #6200ee;
  --color-font-heading: #333;
  --color-font-text: #666;
  --color-font-on-highlight: #fff;
  --color-font-desactivated: #aaa;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

body {
  min-height: 100vh;
  background: var(--color-background);
  font-size: 1.6rem;
  font-weight: 400;
  gap: 9.2rem;
}

header {
  justify-content: space-between;
  max-height: 2.4rem;
  margin-bottom: 2.4rem;
}

/* icons styles */
#prev.material-symbols-outlined,
#next.material-symbols-outlined,
#expand.material-symbols-outlined,
#prev-year.material-symbols-outlined,
#next-year.material-symbols-outlined {
  font-variation-settings: 'FILL', 'wght' 400, 'GRAD' 0, 'opsz' 24;
  color: var(--color-font-text);
}

/*  ==== END GLOBAL STYLES ==== */

/*  ==== START FIRST SECTION STYLES - DAYS ==== */

.wrapper {
  max-width: 34.4rem;
  padding: 3.2rem;
  background: var(--color-card-primary);
  border-radius: 1.6rem;
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 12%);
}

header .icon-wrapper span {
  display: flex;
  align-items: center;
  border-radius: 50%;
  height: 3.2rem;
  width: 3.2rem;
  color: var(--color-font-text);
  cursor: pointer;
}

header .icon-wrapper span:hover {
  background: var(--color-item-on-hover);
}

.wrapper .month-year-wrapper {
  flex-direction: row;
  cursor: pointer;
}

.wrapper header .current-date {
  font-weight: 700;
  line-height: 150%;
  color: var(--color-font-text);
}

.calendar ul {
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar li {
  min-height: 4rem;
  min-width: 4rem;
  color: var(--color-font-text);
  font-size: 1.6rem;
  font-weight: 400;
}

.calendar .weeks li {
  width: calc(100% / 7);
  max-height: 3.2rem;
  padding: 0.8rem;
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: default;
}

.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  padding: 1rem;
  border-radius: 0.8rem;
}

.calendar .days li:hover {
  background-color: var(--color-item-on-hover);
}

.days li.inactive {
  color: var(--color-font-desactivated);
}

.days li.active {
  color: var(--color-font-text);
}

.days li::before {
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  z-index: -1;
  padding: 1rem;
  transform: translate(-50%, -50%);
}

/*  ==== END FIRST SECTION STYLES - DAYS ==== */

/*  ==== START SECOND SECTION STYLES - MONTHS ==== */

.months-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem 1.6rem;
}

.month {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 4rem;
  width: 7.2rem;
  padding: 1.2rem 1.8rem;
  background-color: var(--color-card-primary);
  color: var(--color-font-text);
  border-radius: 0.8rem;
  cursor: pointer;
}

.month:hover {
  background-color: var(--color-item-on-hover);
}

/*  ==== END SECOND SECTION STYLES - MONTHS ==== */

/* incluir um ponto abaixo do dia ou mês corrente */
.days li.active::after,
.days li.active.selected::after,
.months-grid .month .dot::after {
  content: '';
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.4rem;
  height: 0.4rem;
  background-color: var(--color-font-text);
  border-radius: 50%;
}

/* alterar o estilo dos dias e meses selecionados */
.calendar .days li.selected,
.months-grid .month.selected {
  background-color: var(--color-item-highlight);
  color: var(--color-font-on-highlight);
}

/* modificar o estilo do ponto no dia ou mês atual quando selecionado */
.days li.active.selected::after,
.months-grid .month.selected .dot::after {
  background-color: var(--color-font-on-highlight);
}
